* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}

.header {
    justify-content: space-between;
    background: #3f3939bc;
    box-shadow: 0 2px 10px rgba(32, 22, 22, 0.621);
    position: fixed;
    width: 100%;
}

a {
    font-size: 18px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    gap: 400px;
}

.nav-link {
    display: flex;
    gap: 3rem;
}

.top-order {
    height: 70vh;
    padding: 80px;
    color: white;
    display: grid;
    align-items: flex-end;
    background-image: url(https://static.wixstatic.com/media/11062b_01536e0bf2fd4e899459a053d727be6d~mv2.jpg/v1/fill/w_1883,h_563,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_01536e0bf2fd4e899459a053d727be6d~mv2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h1-top-order{
    padding-bottom: 50px;
    margin-top: 70px;
    font-family: serif;
    font-size: 80px;
}

.par-top-order {
    line-height: 1.5em;
    padding-right: 400px;
    font-size: 20px;
}
.form-btn-order{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
}

.btn-order{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    width: 130px;
    margin: 10px 0;
    padding: 16px;
    border: none;
}

.btn-order:hover {
    background-color: #e36414;
}

.btn-order1:hover {
    background-color: #db7c26;

}
.order{
    height: 100vh;
}